img {
    display: block;
    background-color: lightgrey;
    padding: 20px;
    border: 10px solid red
    margin: 20px
}
img {
    background-color: lightgrey;
    padding: 20px;
    border: 10px solid red
    margin: 20px
}
img {
    background-color: lightgrey;
    padding: 20px;
    border: 10px solid red
    margin: 20px
}