body {
    background-color: #f5f5f5;
}
h1 {
            columns: #fc5185;; 
            font-size: 50px;
        }
        p {
            columns: #3fc1c9;;
        }
        .paragraph-color {
            color: #364f6b
        }